.send-message-container {
    padding: 20px;
    max-width: 400px;
    max-height: 670px;
    margin-top: 1.3rem;
    background-color: pink;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sendmessage {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-family: cursive;
    font-weight: 800;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

  }
  .emailme {
    color: #99caff;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .labil {
    display: block;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    color: black;
  }
  
  textarea {
    height: 100px;
  }
  
  .send-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: #017933;
    text-align: center;
    margin-bottom: 10px;
  }
  